/* -------------------- Section One -------------------- */

html, body{
	overflow-x :hidden
}
.font-robotocondensed{
	font-family: 'Roboto Condensed', sans-serif;
}
.font-roboto{
	font-family: 'Roboto', sans-serif;
}
.section-one{
	position: relative;
}
.car-img{
	width: 100%;
	height: 100%;
}
.burgermain{
	top: 30px;
    right: 30px;
    position: absolute;
}
.burgermain.active{
    position: fixed;
    z-index: 1000;
}
.burger{
	width: 45px;
	height: 50px;
	position: relative;
	overflow: hidden;
}
.burger .divider{
	width: 45px;
	height: 5px;
	background-color: #fff;
	transition: transform .3s linear;
	transform: translate(-50%, -50%);
}
.burger.active{
	z-index: 1000;
}
.burger.active .divider{
	background-color: #FF0000;
}
.burger .divider:nth-child(1){
	top: 25%;
	position: absolute;
	left: 50%;
}	
.burger .divider:nth-child(2){
	width: 35px;
	top: 50%;
	position: absolute;
	right: -18px;
}
.burger .divider:nth-child(3){
	top: 75%;
	position: absolute;
	left: 50%;
}
.burger.active .divider:nth-child(1){
	transform: translate(-50%, -50%) rotate(-135deg);
	top: 50%;
}
.burger.active .divider:nth-child(2){
	left: -100%;
	transform: inherit;
}
.burger.active .divider:nth-child(3){
	transform: translate(-50%, -50%) rotate(135deg);
	top: 50%;
}
.navigation{
	display: none;
}
.navigation.active{
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(225,225,225, 0.8) !important;
	top: 0;
	left: 0;
    animation: mymove 0.5s;
    z-index: 100;
}
@keyframes mymove{
	from {left: -600px;}
	to {left: 0px;}
}
.navigation-ul{
	display: flex;
    flex-direction: column;;
   	margin: auto;
   	list-style-type: none;
}
.navigation-a{
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-size: 72px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bolder;
}
.navigation-a:hover{
	color: #FF0000;
	text-decoration: none;
}
.text-auto{
	position: absolute;
	width: 250px;
	top: 20px;
    left: 20px;
}
.text-auto.active{
	display: none;
}
.text-auto-red{
	position: absolute;
	width: 250px;
	top: 20px;
    left: 20px;
    display: none;
}
.text-auto-red.active{
	display: flex;
	z-index: 100;
}
.circle1{
	width: 62px;
	position: absolute;
	top: 5%;
	left: 45%;
}
.circle2{
	width: 60px;
	position: absolute;
	top: 2%;
	right: 15%;
}
.circle3{
	width: 120px;
	position: absolute;
	top: 15%;
	right: 25%;
}
.circle4{
	width: 30px;
	position: absolute;
	top: 30%;
	left: 10%;
}
.circle5{
	width: 120px;
	position: absolute;
	top: 32%;
	left: 17%;
}
.circle6{
	width: 30px;
	position: absolute;
	top: 30%;
	left: 50%;
}
.circle7{
	width: 60px;
	position: absolute;
	top: 42%;
	right: 13%;
}
.circle8{
	width: 40px;
	position: absolute;
	top: 52%;
	right: 25%;
}
.circle9{
	width: 30px;
	position: absolute;
	top: 60%;
	left: 2%;
}
.circle10{
	width: 60px;
	position: absolute;
	top: 65%;
	left: 55%;
}
.bottom-text-h1{
	position: absolute;
	font-size: 72px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
    bottom: 30px;
    right: 20px;
}
.bottom-text-h2{
	position: absolute;
	font-size: 39px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	right: 20px;
	bottom: 0;
}
.slider-arrows{
	width: 40px;
}
.left-arrow{
	margin: 0 auto;
}
.left-arrow-div{
	display: flex;
	width: 75px;
    height: 160px;
    background-color: rgba(255, 255, 255, 100%);
    border-bottom-right-radius: 75px;
    border-top-right-radius: 75px;
    border-left: 0;
    margin-left: -65%;
}
.right-arrow{
	margin: 0 auto;
}
.right-arrow-div{
	display: flex;
	width: 75px;
    height: 160px;
    background-color: rgba(255, 255, 255, 100%);
    border-bottom-left-radius: 75px;
    border-top-left-radius: 75px;
    border-left: 0;
    margin-right: -65%;
}

/* -------------------- SECTION ONE --------------------*/



/* -------------------- SECTION TWO --------------------*/

.section-two{
	width: 100%;
	height: 100%;
	position: relative;
}
.section-two-h1{
	text-transform: uppercase;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	margin-top: 110px;
}
.services-row{
	display: flex;
	justify-content: center;
	margin: 0;
}
.services{
	width: 303px;
	height: 315px;
	background-color: #EBE8DE;
	margin: 0 10px;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 55px;
}
.services-img{
	height: 120px;
	margin-bottom: 50px;
}
.services-h2{
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-decoration: none;
	color: #000;
}
.services-h2:hover{
	text-decoration: none;
	color: #FF0000;
}
.animation{
	margin: 50px 0;
}
.mountains{
	background-image: url(../img/mountains.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 180px;
	position: relative;
}
.road{
	background-image: url(../img/road.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 2px;
	position: relative;
}
.trees {
	left: 15%;
	bottom: 0px;
	position: absolute;
}
.trees-img {
	width: 80%;
}
.bus-img{
	width: 300px;
}
.bus{
	position: absolute;
    right: 0%;
    top: 30%;
    transform: translate(-50%, -57%);
    animation: busmove 8s infinite;
}
@keyframes busmove {
	from { right: -300px; }
	to   { right: 2000px; }
}

/* -------------------- SECTION TWO --------------------*/



/* -------------------- SECTION THREE --------------------*/

.section-three{
	position: relative;
}
.map{
	display: flex;
    justify-content: center;
    margin-bottom: 210px;
}
.map-iframe{
	width: 1590px;
	height: 890px;
}
.bottom-box{
	width: 1270px;
	height: 584px;
	position: absolute;
	top: 360px;
	display: flex;
}
.contact{
	width: 458px;
	height: 584px;
	background-color: #EBE8DE;
}
.forms-main{
	width: 812px;
	height: 584px;
	background-color: #fff;
	border: 1px solid #EBE8DE;
}
.contact-h3{
	color: #000;
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 50px;
}
.contact-a{
	color: #000;
	font-size: 50px;
	text-transform: lowercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin-left: 110px;
	margin-top: 160px;
	display: flex;
	width: 175px;
	text-align: center;
}
.contact-a:hover{
	text-decoration: none;
	color: inherit;
}
.social-icons{
	display: flex;
	margin-left: 119px;
}
.social-icons-a{
	margin: 0 8px;
}
.social-icons-img{
	width: 48px;
}
.forms-h3{
	color: #000;
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin-left: 85px;
	margin-top: 50px;
}
.form-control{
	width: 240px;
	height: 40px;
	background-color: #F2F2F2;
	border: 0;
	font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}
.form-control:focus{
    color: #495057;
    background-color: #F2F2F2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::placeholder{
    color: #6c757d;
    opacity: 1;
}
.form-control-last-child{
	height: 125px;
	padding-bottom: 90px;
}
.input{
	margin-top: 30px;
	margin-left: 83px;
}
.forms{
	display: flex;
}
.checkbox-1{
    margin-left: 120px;
    margin-top: 32px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}
.form-check-label{
	margin-left: 6px;
}
.checkbox-2{
	margin-left: 120px;
	margin-top: 105px;
	font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}
.checkbox-2 .form-check{
	margin: 10px 0;
}
.forms button{
    width: 80px;
    height: 40px;
    margin-left: 50px;
    margin-top: 350px;
}
.footer{
	display: flex;
    justify-content: space-between;
    width: 1270px;
    margin: 0 auto;
}
.footer p{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: #000;
    margin-top: -140px;
}

/* -------------------- SECTION THREE --------------------*/